$ungu : rgb(171, 109, 132);
$putih :rgb(255, 255, 255);
$lightgrey : #fcfcfc;
$hitammuda : rgba(66, 65, 65, 0.5);
$pink : #eab5b5;
$kuning : #f1e31c;
$hitam : #000000;
$whitemilk : #fcfcfc;
$cream : rgb(255, 255, 255);

