

body{
    background-image: url(files/fotobg.jpeg);
}

ul{
    .nav-item{
        a{
            color: rgb(255, 255, 255);
            

        }
        a:hover {
            margin-right: 5px;
            background-color: #ffffff;
            color: rgb(171, 109, 132);
            font-weight: bold;
            border-radius: 5px;
            box-shadow: 0px 5px 0px rgba(66, 65, 65, 0.5);
            padding: 10px;
            /* transition: all .1s ease-in-out; */
            }
    }
}



.carousel{
margin-top: 60px;
}

.foto {
border-radius: 20px;
margin-top: 100px;
box-shadow: 10px 10px 10px 0px rgba(51, 50, 50, 0.263);
}

.card{
margin-top: 100px;
}



h3,h5{
    font-size: 2rem;
    background-color: white;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #eab5b5;
    text-shadow: 1px 2px 1px rgb(171, 109, 132);
    padding-bottom: 10px;
}


.tombol {
    a{
    background-color:rgb(171, 109, 132) ;
    font-weight: bold;
    color: #ffffff;
    border: none;
    margin: 10px;
    margin-bottom: 20px;

    
    }
    a:hover{
        background-color:#eab5b5 ;
        font-weight: bold;
        color: #ffffff;
        border: none;
        margin: 10px;
        margin-bottom: 20px;
        }
}



.heading {
justify-content: center;
text-align: center;
display: flex;
flex-direction: row;
font-size: 2.5em;
padding: 20px;

    .first {
    color: #ffffff;
    font-weight: 700;
    }
    
    .last {
    color: #f1e31c;
    font-weight: bold;
    padding-left: 5px;
    }
    
}



.social{
margin-top: 5px;
margin-bottom: 5px;
display: flex;
justify-content: center;
align-items: center;
text-transform: capitalize;
font-style: italic;

    a{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f1e31c;
        border-radius: 50px;
        margin: 10px 10px;
        color: #000000;
        text-decoration: none;
        font-size: 20px;

            
        }
        a:hover{
            width: 60px;
            height: 60px;
            border-radius: 60px;
            color: #fcfcfc;
            }
}



.copyright{
padding-top: 5px;
padding-bottom: 20px;
}

@media screen and (max-width: 1024px ) {

.isi{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    /* align-items: center; */
    /* margin-left: 5vw; */

    p,h5{
        margin-left: 50px;
        width: 40vw;
    
    }
}




.social-agt {
    .social {
        a{
        background-color: #ffffff;
        
        }
        a:hover{
            color: #eab5b5;
        }
    }  
} 


.maps {
    iframe{
        width: 80vw;
        height: 80vh;
        }
} 
}

@media screen and (max-width: 780px) {

.card{
    margin-top: 40px;
}

.isi{
     p,h5{
    margin-left: 50px;
    width: 60vw;
    }

}

.social-agt{
    margin-left: 40vw;
    .social a{
        background-color: #ffffff;
        
    }
    a:hover{
        color: #eab5b5;
    }
}


.maps {
    iframe{
width: 80vw;
height: 80vh;
}
} 
}